.city {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  span {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 35px;
  }
  &__active {
    transition: all 0.5s;
    cursor: pointer;
    line-height: 50px;
    min-width: 60%;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid $sub;
  }
  &__active:hover, .city__active:focus {
    background-color: #212529;
    transition: 0.5s;
  }
  &__menu {
    transition: all 0.5s;
    display: none;
    scroll-behavior: smooth;
    overflow: overlay;
    height: 249px;
    width: 65%;
    margin-right: -5%;
    background-color: #212529;
    position: absolute;
    top: 56%;
    border-radius: 10px;
  }
  &__elem {
    cursor: pointer;
    line-height: 50px;
    min-width: 65%;
    height: 50px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid black;
    font-size: 25px;
  }
  &__button {
    text-align: center;
    margin-top: 20px;
    background-color: #212529;
    cursor: pointer;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    }
    &__button:hover, .city__button:focus {
      background-color: rgb(88, 88, 88);
      transition: 0.5s;
    }  
}

.active {
  display: block;
}




