.weather {
  padding: 70px 0;
  background-color: $main;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background-color: #212529;
    position: relative;
    width: 262px;
    height: 535px;
    border: 5px solid $sub;
    border-radius: 20px;
  }
  &__time {
    color: $sub;
    font-size: 35px;
    text-align: center;
  }
  &__city {
    color: $sub;
    font-size: 35px;
    text-align: center;
  }
  &__temp {
    margin-top: 170px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
  }
  &__status {
    text-align: center;
    color: $sub;
  }
  &__descr {
    margin-top: 35px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
  }
}